/* Common app styling */

#content-main {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; /* Enable scrollbars within main content section */
    padding: 0;
}

.padding {
    padding: 15px;
}

.header {
    padding: 15px;
    background-color: #B7472A;
    color: white;
    height: 50px;
}

#notification-message {
    background-color: #818285;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 80px;
    right: 0;
    z-index: 100;
    bottom: 0;
    display: none; /* Hidden until invoked */
}

#notification-message #notification-message-header {
    font-size: medium;
    margin-bottom: 10px;
}

#notification-message #notification-message-close {
    background-image: url("../Images/Close.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

/* Welcome Area */
.welcome.ms-Dialog .ms-Dialog-main {
    max-width: none;
    width: 500px;
}

.welcome .ms-Dialog-actions {
    margin: 40px 0 0;
}

/* Twitter Feed */
.tweetlist-header {
    padding-left: 20px;
}

.ms-PersonaCard {
    width: 500px;
    float: left;
    margin: 20px;
}

.ms-PersonaCard .tweet-text {
    padding: 0 20px;
}

.ms-PersonaCard-action {
    display: inline-block;
    cursor: inherit;
    font-size: 17px;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    color: #666;
    position: relative;
    box-sizing: border-box;
}

.ms-PersonaCard-action:hover {
    color: inherit;
}

.spinner {
    margin: 50px;
}
